@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url(https://images.squarespace-cdn.com/content/54b9401be4b095413a52aaa8/1546642488928-8EYOP2IIWDN5WMTZTPWX/bttf_regular.jpg?format=1500w&content-type=image%2Fjpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20rem;
}
.allNumbers{
    color: white;
    font-size: 10rem;
    background-color:rgba(255, 105, 5, 0.63);
    border: 10px double white;
}
.clock{
    border: 10px double white;
    background-color:rgba(255, 105, 5, 0.63);
}

